<%- include('../partials/adminHeader') %>
    <style>
        .card-with-shadow {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            position: relative;
            overflow: hidden;
            border-radius: 10px;
            width: 80%;
            margin: 0 auto;
            margin-top: 60px;
            margin-left: 240px;
        }

        .card-with-shadow::before,
        .card-with-shadow::after {
            content: "";
            position: absolute;
            top: 0;
            width: 10px;
            height: 100%;
            background: linear-gradient(to right, rgba(0, 0, 0, 0.1), transparent);
        }

        .card-with-shadow::after {
            right: 0;
            left: auto;
            background: linear-gradient(to left, rgba(0, 0, 0, 0.1), transparent);
        }

        .card-body table {
            width: 100%;
        }

        .card-body table th,
        .card-body table td {
            text-align: center;
        }

        .table-responsive {
            overflow-x: auto;
        }

        .img-column img {
            max-width: 73px;
            height: 73px;
        }

        .btn-add-category {
            background-color: white;
            color: black;
            border: 1px solid black;
        }
    </style>
</head>

<body>

    <div class="card card-with-shadow">
        <div class="card-header d-flex justify-content-between align-items-center">
            <span><h3>Category management</h3></span>
            <a href="/admin/addCategory">
                <button class="btn btn-add-category">
                    <i class="fas fa-plus"></i> Add Category
                </button>
            </a>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Category name</th>
                        <th scope="col">Created ON </th>
                        <th scope="col">Image</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Archive</th>
                    </tr>
                </thead>
                <tbody>
                    <% categoryData.forEach((data)=> { %>
                    <tr>
                        <td><%=++i %></td>
                        <td><%=data.categoryname %></td>
                        <td><%=data.date %></td>
                        <td class="img-column"><img src="/uploadedImages/<%=data.image %>" alt="Image 1"></td>
                        <td>
                            <a href="/admin/editCategory/<%= data._id %>">
                                <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#editCategoryModal">
                                    <i class="fas fa-edit" style="color: black;"></i> Edit
                                </button>
                            </a>
                        </td>
                        <td>
                            <form id="deleteCategoryForm_<%= data._id %>" action="/admin/deleteCategory/<%= data._id %>"
                                method="post" style="display:inline;">
                                <button type="button" class="btn btn-danger"
                                    onclick="deleteCategory('<%= data._id %>')">
                                    <i class="fas fa-trash-alt" style="color: white;"></i> Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>

    <!-- SweetAlert integration script -->
    <script>
        function deleteCategory(categoryId) {
            Swal.fire({
                title: 'Are you sure?',
                text: 'your category will be delted,no option to retrive',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.forms['deleteCategoryForm_' + categoryId].submit();
                }
            });
        }
    </script>

<%- include('../partials/adminFooter')%>